
.Container {
  font-size: 200%;
  height: 3em;
}

.Button {
  background-color: #006249;
  border: 0px;
  color: #EEE;
  font-size: inherit;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
  will-change: background-color;
  
  &:hover {
    background-color: rgb(77, 146, 128);
  }
}
