@charset "UTF-8";


/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/



.kontrollen {
    z-index: 10;
    font-size:90%;
}

.kontrollen > * {
    display: table-cell;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: 1px solid grey;
}

.kontrollen > *:first-child {
    border-left: 0px solid grey;
}

#MobilMonatFeld {
  display: none;
}
