@charset "UTF-8";


/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/


a {
  text-decoration: underline;
  color: rgb(0,0,255);
}

.anzeige {
  padding-top: 20px;
}

body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#appcacheInfo, .warnung {
  display: none;
  background-color: yellow;
  border: 3px solid red;
  border-radius: 5px;
  margin-top: 0.5cm;
  padding: 0.5cm;
  text-align: center;
}

.warnung {
  display: block;
}

.month {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.WoE {
  background-color: #D3D3D3;
}

.kontrollen {
  background-color: #DCDCDC;
  border: 1px solid grey;
  border-radius: 5px;
}

.buttons {
  width: 50px;
}

.goto {
  width: 20px;
}

.eingabe {
  text-align: center;
}

table {
  border-collapse: collapse;
}

.year {
  border: 0px none black;
  vertical-align: top;
}

th {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  text-align: center;
}

caption {
  border-color: black;
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 0px;
  padding: 1px;
  font-size: 14px;
  font-weight: bold;
}

.license {
  font-size: x-small;
  text-align: center;
}



.alert {
  background: #DCDCDC;
  position: fixed;
  top: 50px;
  right: 15px;
  min-height: 100px;
  max-width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 5px 7px 2px black;
}

.alert > p {
  font-Size: 200%;
}

.closer {
  position: absolute;
  top: -10px;
  right: -10px;
  min-height: 20px;
  min-width: 20px;
  background: black;
  border-radius: 10px;
  color: white;
  text-align: center;
  border: 1px solid white;
  text-decoration: none;
  box-shadow: 5px 5px 7px 2px black;
}

#shareButton > img {
  height: 14px;
  width: 14px;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateY(2px);
}

#icsDownload {
  text-align: center;
  background-color: #DCDCDC;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  line-height: 120%;
}

#icsDownload > a {
  padding: 10px;
}

#jahrAnzeigeDruck {
  display: none;
}

@media print {
  .kontrollen{
    display: none;
  }

  #jahrAnzeigeDruck {
    display: block;
    position: fixed;
    top: 20px;
    right: 21px;
    border: 1px solid black;
    /*border-radius: 5px;*/
    padding: 2px;
  }

  .anzeige {
    padding-top: 0px;
  }

  body {
    font-size: 90%;
  }

  .license {
    display: none;
  }
}
