/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import '~style/helpers';

.Menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: absolute;
  top: @header-height;
  right: 0px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  min-width: 14em;
  background: @header-background;
  box-shadow: @header-shadow;

  & > * + * {
    margin-top: 1.3rem;
  }

  button, select, input {
    color: black;
    text-align: center;
    border-radius: 5px;
    background: #efefef;
    box-shadow: @header-shadow;
    margin-left: 0.7em;
    margin-right: 0.7em;
    height: auto;
    min-height: 2.5rem;

    &:active, &:hover {
      background: #b0b0b0;
    }

    &.share {
      margin-left: auto;
      margin-right: auto;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }

  select {
    text-align: center;
  }

  label {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    & > select, & > input {
      margin-top: 0.3em;
      flex: auto;
    }
  }
}

.Show {
  .Menu;
  display: block;
  display: flex;
}
