/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import '~style/variables';

.week {
  background: @main-background;
  color: @table-text-color;
}

.DayRow {
  &[data-today] {
    border-right: @table-focus-border black;

    .day {
      border-left: @table-focus-border black;
      border-top: @table-focus-border black;
      border-bottom: @table-focus-border black;
    }

    .week_day, .groups {
      border-top: @table-focus-border black;
      border-bottom: @table-focus-border black;
    }
  }

  &[data-search] {
    border-right: @table-search-border;

    .day {
      border-left: @table-search-border;
      border-top: @table-search-border;
      border-bottom: @table-search-border;
    }

    .week_day, .groups {
      border-top: @table-search-border;
      border-bottom: @table-search-border;
    }
  }

  &[data-day='0'], &[data-day='6'], &[data-day='7'] { // Weekend
    background-color: #D3D3D3;
  }

  &[data-holiday='closing'] { // closing holiday
    background-color: rgb(0, 128, 0);
    color: white;
  }

  &[data-holiday='holiday'] > .day,
  &[data-holiday='school'] > .day {
    background-color: turquoise;
    color: #000;
  }

  td[data-dayLightSaving='true'] {
    background-color: rgb(255, 255, 0);
    border: 3px solid rgb(255, 0, 0);
    color: black;
    cursor: help;
  }

  td[data-working='true'][data-group='0'] { // Gr 1
    background-color: rgb(255, 105, 180);
    color: black;
  }

  td[data-working='true'][data-group='1'] { // Gr 2
    background-color: rgb(255, 255, 0);
    color: black;
  }

  td[data-working='true'][data-group='2'] { // Gr 3
    background-color: rgb(255, 0, 0);
    color: black;
  }

  td[data-working='true'][data-group='3'] { // Gr 4
    background-color: rgb(0, 255, 0);
    color: black;
  }

  td[data-working='true'][data-group='4'] { // Gr 5
    background-color: rgb(30, 144, 255);
    color: black;
  }

  td[data-working='true'][data-group='5'] { // Gr 6
    background-color: rgb(205, 133, 63);
    color: black;
  }
}
