@import '~style/helpers';

.MainContainer {
	display: flex;
	flex-direction: column;
	align-content: center;
}

.home {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
	padding: 66px 20px 10px;
	min-height: 100%;
	width: 100%;
}

.ImpressumLink {
	margin: 1em 0px 0.5em 0px;
	text-align: center;
}
