/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.section {
  padding: 1rem;
  text-align: center;
  color: #111827;
  background-color: #D1D5DB;
  border-radius: 0.25rem;
}

.header {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.link_list {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem
}
