/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  color: var(--table-color);
}

.column {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;
  padding: 0px 0.5rem;
}

.cell {
  width: 2rem;
  padding: 0.1rem;
  border: 1px solid black;
  border-color: var(--table-color);
  text-align: center;
}

.holiday {
  background-color: #2DD4BF;
  background-color: var(--holiday-bg-color);
}

.ramadan {
  background-color: #06B6D4;
  background-color: var(--ramadan-bg-color);
}

.closing {
  background-color: #047857;
  background-color: var(--closing-bg-color);
  color: white;
  color: var(--closing-color);
}

.daylight_saving {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #FCD34D;
  background-color: var(--daylight-saving-bg-color);
  color: black;
  color: var(--table-color);
  border: 4px solid #DC2626;
  border: 4px solid var(--daylight-saving-border-color);
}

.definition {
  color: #111827;
  color: var(--soft-text-color);
}

.link {
  color: #111827;
  color: var(--soft-text-color);
  text-decoration: underline;
  text-decoration-color: #1D4ED8;
  text-decoration-color: var(--link-color);
}
.link:hover, .link:focus {
  text-decoration-color: #3B82F6;
  text-decoration-color: var(--link-interact-color);
  text-decoration-thickness: 3px;
}
