/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.container {
  position: fixed;
  bottom: 0px;
  padding: 0.5rem;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  color: var(--header-color);
  background-color: #064E3B;
  background-color: var(--header-bg-color);
  border-style: solid;
  border-color: #e5e8f4;
  border-color: var(--dialog-border-color);
  border-width: 0px;
  border-top-width: 1px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2rem var(--dialog-shadow-color);
}

@media (min-width: 640px) {
  .container {
    bottom: 0.25rem;
    right: 0.25rem;
    border-width: 1px;
    border-radius: 0.25rem;
    margin-bottom: env(safe-area-inset-bottom);
    margin-left: env(safe-area-inset-left);
    max-width: 24rem;
  }
}

.header {
  margin-left: 0.75rem;
}

.text {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-bottom: 0.5rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.item {
  margin-bottom: 1rem;
}

.label {
  display: inline-block;
  padding-left: 0.75rem;
  padding-bottom: 0.25rem;
}

.input {
  composes: focus_outline from "../styles/form.module.css";
  display: block;
  width: 100%;
  border: 1px solid #D1D5DB;
  border-radius: 0.25rem;
  appearance: none;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
}

.buttons_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.buttons_row > button + button {
  margin-left: 1rem;
}

.days_count {
  align-self: flex-start;
  margin-left: 0.75rem;
  margin-right: auto;
  margin-bottom: 0.75rem;
}

.delete_button {
  composes: button from "../styles/form.module.css";
  background-color: #EF4444;
  background-color: var(--form-danger-bg-color);
  color: black;
  color: var(--form-danger-color);
  justify-self: start;
  margin-right: auto;
  margin-left: 0.5rem;
}
.delete_button:hover, .delete_button:focus {
  background-color: #F87171;
  background-color: var(--form-danger-interact-bg-color);
}
