/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  touch-action: pan-y;
}

.swiping_container {
  composes: container;
  touch-action: none;
  overflow-x: hidden;
}

.swiping_container > .calender_table {
  translate: var(--swipe-offset, 0px);
}

/*
Hide all calender except the current month.
But then show the next month on small screen, then the next 2 months, then all on big screens.
*/
.calender_table {
  display: none;
}
.calender_table:nth-child(2) {
  display: table;
}

.table,
.table th,
.table td {
  border: 1px solid black;
  border: 1px solid var(--table-color);
}

.table caption,
.table th,
.table td {
  padding-top: 3px;
  padding-bottom: 3px;
}
.table caption {
  border-bottom: 1px solid white;
  border-bottom: 1px solid var(--main-bg-color);
}

.table {
  margin-top: 2rem;
  text-align: center;
  border: 1px solid black;
  border: 1px solid var(--table-color);
  border-top-width: 0px;
  color: var(--table-color);
  table-layout: fixed;
  border-spacing: 0px;
  --interest-width: 3px;
  view-transition-name: month-table; /* animation is in index.css */
}

.table .groups_th {
  border-bottom-width: 0px;
}

.clickable_column {
  min-width: 50px;
}

.group_column {
  min-width: 2rem;
}

.table th {
  border-left-width: 0px;
}
.table td {
  border-top-width: 0px;
  border-left-width: 0px;
}
.table th:last-child,
.table td:last-child {
  border-right-width: 0px;
}

.table thead {
  position: sticky;
  top: 5rem;
  top: calc(3.5rem + 1.5rem - 1px);
  z-index: 1;
}

.table th {
  background-color: white;
  background-color: var(--main-bg-color);
}

@media (min-width: 1280px) {
  .table {
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .calender_table:nth-child(3) {
    display: table;
  }
}

@media (min-width: 1280px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .calender_table:nth-child(4) {
    display: table;
  }
}

@media (min-width: 1536px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }

  .calender_table {
    display: table;
  }
}

.calender_table_placeholder {
  border-width: 0px;
}

.title {
  position: sticky;
  top: 3rem;
  font-weight: 700;
  background-color: white;
  background-color: var(--main-bg-color);
  z-index: 1;
}
.title[data-is-today="true"] {
  border: 1px solid black;
  border: 1px solid var(--table-color);
  border-bottom-width: 0px;
  background-color: #d1d5db;
  background-color: var(--weekend-bg-color);
  color: black;
  color: var(--table-color);
}

.footer {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.footer td {
  border-bottom-width: 0px;
}
.sum {
  padding: 0.25rem;
  border: 1px solid black;
  border: 1px solid var(--table-color);
  cursor: help;
}

.row[data-weekend="true"] {
  background-color: #d1d5db;
  background-color: var(--weekend-bg-color);
}
.row[data-closing="closing"] {
  background-color: #047857;
  background-color: var(--closing-bg-color);
  color: white;
  color: var(--closing-color);
}

.row[data-interest="search"] {
  --interest-border-color: var(--search-color);
}
.row[data-interest="today"] {
  --interest-border-color: var(--table-color);
}

.row:is([data-interest="search"], [data-interest="today"]) > td:last-child {
  border-right: var(--interest-width) solid var(--interest-border-color);
}

.row:is([data-interest="search"], [data-interest="today"]) > .day_in_month {
  border-left: var(--interest-width) solid var(--interest-border-color);
  border-top: var(--interest-width) solid var(--interest-border-color);
  border-bottom: var(--interest-width) solid var(--interest-border-color);
}

.row:is([data-interest="search"], [data-interest="today"]) > .day_in_month {
  border-top: var(--interest-width) solid var(--interest-border-color);
  border-bottom: calc(var(--interest-width) + 1px) solid
    var(--interest-border-color);
}

.day_in_month {
  padding: 0;
}
.day_in_month__link {
  display: inline-block;
  color: inherit;
  padding: 0.2rem 0.1rem;
  height: 100%;
  width: 100%;
}

.week_day[data-holiday] {
  cursor: help;
}

.week_day:is([data-holiday="holiday"], [data-holiday="school"]) {
  background-color: #2dd4bf;
  background-color: var(--holiday-bg-color);
  color: black;
  color: var(--table-color);
}

.week_day[data-holiday="ramadan"] {
  background-color: #06b6d4;
  background-color: var(--ramadan-bg-color);
  color: black;
  color: var(--table-color);
}

.week_day[data-daylight] {
  background-color: #fcd34d;
  background-color: var(--daylight-saving-bg-color);
  color: black;
  color: var(--table-color);
  cursor: help;
  padding-left: 2px;
  border: 3px solid #dc2626;
  border: var(--interest-width) solid var(--daylight-saving-border-color);
  border-bottom-width: 4px;
  border-bottom-width: calc(var(--interest-width) + 1px);
  border-right-width: 4px;
  border-right-width: calc(var(--interest-width) + 1px);
}

.week_cell {
  color: #1f2937;
  color: var(--table-color);
  background-color: white;
  background-color: var(--main-bg-color);
  border-width: 1px;
  border-color: black;
  border-color: var(--table-color);
}
.week_number {
  position: sticky;
  top: 9.1rem;
  top: calc(3.5rem + 3.6rem + 2rem);
  bottom: 0.2rem;
}

.group[data-group="1"] {
  background-color: #ff69b4;
  background-color: var(--group-1);
  color: black;
  color: var(--group-1-text);
}
.group[data-group="2"] {
  background-color: #ff0;
  background-color: var(--group-2);
  color: black;
  color: var(--group-2-text);
}
.group[data-group="3"] {
  background-color: #f00;
  background-color: var(--group-3);
  color: black;
  color: var(--group-3-text);
}
.group[data-group="4"] {
  background-color: #0f0;
  background-color: var(--group-4);
  color: black;
  color: var(--group-4-text);
}
.group[data-group="5"] {
  background-color: #1e90ff;
  background-color: var(--group-5);
  color: black;
  color: var(--group-5-text);
}
.group[data-group="6"] {
  background-color: #cd853f;
  background-color: var(--group-6);
  color: black;
  color: var(--group-6-text);
}

.group[data-current] {
  border-width: 3px !important;
  border-color: var(--table-color);
  font-weight: bold;
  text-decoration: underline;
}

.row:is([data-interest="search"], [data-interest="today"])
  > :is(.group, .week_day) {
  border-top: var(--interest-width) solid var(--interest-border-color);
  border-bottom: calc(var(--interest-width) + 1px) solid
    var(--interest-border-color);
}

@media (max-width: 365px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .group_column {
    min-width: initial;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

@media (max-width: 280px) {
  .clickable_column {
    min-width: 100%;
  }
}
