// Styles for the month view of a shift

// Those styles make the table header sticky
.shift_calendar {
  border-collapse: separate;
  border-spacing: 0px;
  border-width: 1px;
  border-style: solid;
  border-top-width: 0px;
  text-align: center;
  vertical-align: middle;
  caption-side: top;

  [id] {
    /*
    Header height + table headers height
    Always scroll so that the element is not hidden by the header.
    */
    scroll-margin-top: 12rem;
  }

  th, td {
    border-width: 1px;
    border-style: solid;
  }

  th {
    border-left-width: 0px;
    &:last-child {
      border-right-width: 0px;
    }
  }

  td {
    border-top-width: 0px;
    border-left-width: 0px;
    &:last-child {
      border-right-width: 0px;
    }
  }
  tbody tr:first-child td {
    border-top-width: 1px;
  }

  .today {
    .day_in_month {
      border-left-width: 3px;
    }
    td:last-child {
      border-right-width: 3px;
    }
    .day_in_month, .weekday, .shift_cell {
      border-top-width: 3px;
      border-bottom-width: 3px;
    }
  }

  .current_shift {
    border-width: 3px;
    
    &:last-child {
      border-right-width: 3px;
    }
  }
}

.shift_calendar__caption {
  position: sticky;
  top: 3rem;
  background-color: var(--bs-body-bg);
  border-bottom: 1px solid;
  z-index: 1;
}
.shift_calendar__head {
  position: sticky;
  top: 5.55rem;
  z-index: 1;
}
.shift_calendar_footer {
  td {
    border-bottom-width: 0px;
  }
}

// Styling for the cells
.weekend {
  --bs-table-bg: #d1d5db;
}

.week-cell {
  --bs-table-bg: var(--bs-body-bg);

  & > span {
    position: sticky;
    bottom: 0.25rem;
    bottom: calc(0.25rem + env(safe-area-inset-bottom, 0px));
    top: 10rem; // under nav + caption + thead
  }
}

.group_1 {
  --bs-table-bg: #ff69b4;
}

.group_2 {
  --bs-table-bg: #ff0;
}

.group_3 {
  --bs-table-bg: #f00;
}

.group_4 {
  --bs-table-bg: #0f0;
}

.group_5 {
  --bs-table-bg: #1e90ff;
}

.group_6 {
  --bs-table-bg: #cd853f;
}

