/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

@import "tailwindcss";

@plugin '@tailwindcss/container-queries';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-safe-area';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
  .btn {
    @apply flex min-h-10 flex-row items-center justify-center rounded-sm border-0 bg-gray-100 px-2 py-1 text-center tracking-wide text-gray-950 shadow-sm hover:bg-gray-300 focus-visible:bg-gray-300 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-transparent focus-visible:outline-hidden;
  }
}

:root [id] {
  /*
  Header is 3rem height + 3rem of table headers.
  Always scroll so that the element is not hidden by the header.
  */
  scroll-margin-top: 14rem;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

@keyframes table-enter {
  from {
    scale: 0.99;
    translate: 1rem;
    opacity: 0;
  }
  to {
    scale: 1;
    translate: none;
    opacity: 1;
  }
}

@keyframes table-exit {
  from {
    scale: 1;
    translate: none;
    opacity: 1;
  }
  to {
    scale: 0.99;
    translate: -1rem;
    opacity: 0;
  }
}

@keyframes slide-bottom-enter {
  from {
    scale: 0.99;
    translate: 0 1rem;
    opacity: 0;
  }
  to {
    scale: 1;
    translate: none;
    opacity: 1;
  }
}

::view-transition-old(month-table),
::view-transition-new(month-table) {
  height: auto;
  right: 0;
  left: auto;
  transform-origin: right center;
}

::view-transition-old(month-table) {
  animation: 0.25s linear both table-exit;
}

::view-transition-new(month-table) {
  animation: 0.25s linear 0.2s both table-enter;
}
