/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.main {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 1rem;
  margin-left: env(safe-area-inset-left);
  margin-right: env(safe-area-inset-right);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
}

/*
Hide all calender except the current month.
But then show the next month on small screen, then the next 2 months, then all on big screens.
*/
.calender_table {
  display: none;
}
.calender_table:nth-child(2) {
  display: table;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .calender_table:nth-child(3) {
    display: table;
  }
}

@media (min-width: 1280px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .calender_table:nth-child(4) {
    display: table;
  }
}

@media (min-width: 1536px) {
  .container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .calender_table {
    display: table;
  }
}
