/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.button {
  height: 2.5rem;
  text-align: center;
  color: black;
  color: var(--form-color);
  background-color: #F3F4F6;
  background-color: var(--form-bg-color);
  border-radius: 0.25rem;
  border: 0px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  letter-spacing: 0.025em;
  text-decoration: none;
}
.button:hover {
  background-color: #D1D5DB;
  background-color: var(--form-interact-bg-color);
}
.button:focus {
  background-color: #D1D5DB;
  background-color: var(--form-interact-bg-color);
  box-shadow:
    0 0 0 3px rgba(59,130,246,0.5),
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow:
    0 0 0 3px highlight,
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}
.checkbox:focus {
  box-shadow:
    0 0 0 3px rgba(59,130,246,0.5),
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow:
    0 0 0 3px highlight,
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: 2px solid transparent;
  outline-offset: 2px;
}
