/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  text-align: center;
  color: black;
  color: var(--form-color);
  background-color: #f3f4f6;
  background-color: var(--form-bg-color);
  border-radius: 0.25rem;
  border: 0px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  letter-spacing: 0.025em;
  text-decoration: none;
}
.button:hover {
  background-color: #d1d5db;
  background-color: var(--form-interact-bg-color);
}
.button:focus {
  background-color: #d1d5db;
  background-color: var(--form-interact-bg-color);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 0 3px highlight, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.accept_button {
  composes: button;
  color: white;
  color: var(--form-accept-color);
  background-color: #6d28d9;
  background-color: var(--form-accept-bg-color);
}
.accept_button:hover,
.accept_button:focus,
.accept_button:active {
  background-color: #7c3aed;
  background-color: var(--form-accept-interact-bg-color);
}

.accept_button_with_img {
  composes: accept_button;
  padding: 0.25rem 0.75rem;
  padding-left: 0.5rem;
}
.accept_button_with_img > :first-child {
  filter: invert(100%);
  padding-right: 0.5rem;
  transform: translateX(-3px);
}

.cancel_button {
  composes: button;
  color: #6d28d9;
  color: var(--form-accept-bg-color);
  border: 1px solid #6d28d9;
  border: 1px solid var(--form-accept-bg-color);
  background-color: var(--main-bg-color);
}
.cancel_button:hover,
.cancel_button:focus {
  color: #4c1d95;
  color: var(--form-accept-interact-bg-color);
  border-color: #4c1d95;
  border-color: var(--form-accept-interact-bg-color);
  background-color: var(--main-bg-color);
}

.checkbox {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  accent-color: #6d28d9;
  accent-color: var(--form-accept-bg-color);
}
.checkbox:disabled {
  opacity: 0.8;
}
.checkbox:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 0 3px highlight, 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  outline: 2px solid transparent;
  outline-offset: 2px;
}
