/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

body {
  min-height: 100vh;
}

@tailwind base;

.form-item {
  @apply h-10 text-center text-black bg-gray-100 rounded shadow hover:bg-gray-300 focus:ring focus:outline-none;
}

td, th {
  border: 1px solid black;
  padding: 0.1rem
}

.pb-safe-area {
  padding-bottom: env(safe-area-inset-bottom);
}

[id] {
  /*
  Header is 3rem height.
  Always scroll so that the element is not hidden by the header.
  */
  scroll-margin-top: 7rem;
}

@tailwind components;

@tailwind utilities;

@layer components {
  .hue-invert {
    filter: invert(100%)
  }
}

#menu_summary::-webkit-details-marker {
  display: none;
}

@media (max-width: 350px) {
  .not-small-screen {
    display: none;
  }
}

@media (min-width: 351px) {
  .small-screen-only {
    display: none;
  }
}
