/*
License:

This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of
the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

.main {
  min-width: 100vw;
  padding-top: 1rem;
  text-align: center;
}

.inline_menu_icon {
  display: inline-block;
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}

.shift_button_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 16rem;
  padding: 0px;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
}
.shift_button_list > * + * {
  margin-top: 0.75rem;
}

.shift_button {
  composes: button from "./form.module.css";
  display: inline-block;
  width: 100%;
  height: 3rem;
  padding: 0.75rem 1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: white;
  color: var(--form-accept-color);
  background-color: #6D28D9;
  background-color: var(--form-accept-bg-color);
}
.shift_button:hover, .shift_button:focus {
  background-color: #4C1D95;
  background-color: var(--form-accept-interact-bg-color);
}

.no_break {
  white-space: nowrap;
}
