.Main {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;

  caption {
    font-weight: bold;

    &.ThisMonth {
      border: 1px solid black;
      border-bottom: 0px;
      background-color: #D3D3D3;
      color: black;
    }
  }

  td, th {
    border: 1px solid black;
    padding: 0.1rem
  }
}
