name: Cypress Browser Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  e2e:
    runs-on: ubuntu-latest
    name: E2E
    strategy:
      matrix:
        browser: [chrome, firefox]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: "npm"
      - uses: cypress-io/github-action@v6
        name: Use ${{ matrix.browser }}
        with:
          browser: ${{ matrix.browser }}
          start: npm run dev
